<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';



    const PostDetailApp = {
        delimiters:['[[',']]'], // Vue랑 Django 템플릿 충돌 방지
        data(){
            return {
                post:{},   //Post 목록 데이터를 저장할 변수 
                prevPost:{},
                nextPost:{},
                cateList:[],
                tagList:[],
                commentList:[],

            };
        },
        created(){
            console.log("created()...");
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId); //컴포넌트가 생성될 때 게시물 목록을 불러옵니다.
            this.fetchCateTagList();
        },
        methods: {
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...",postId)
                axios.get(`/api/post/${postId}`)
                .then(res => {
                     console.log("FETCH POSTDETAIL GET RES", res);
                     this.post = res.data.post;
                     this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                     this.commentList = res.data.commentList;
                })
                .catch(err => {
                    console.log("FETCH POSTDETAIL GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });


            },
            fetchCateTagList(){
                console.log("fetchCateTagList()...");
                axios.get('/api/catetag/')
                .then(res =>{
                    console.log("FATCH CATEAG LIST RES",res,getUrl);
                    this.cateList = res.data.cateList;
                    this.tagList = res.data.tagList;
                })
                .catch(err => {
                    console.error("Error fetching category and tag list:", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });
            },
            serverPage(category='',tag=''){
                console.log("serverPage()...", tag);
                console.log(category)
                if(category && tag) alert(`serverPage() both args Error ${category} and ${tag}`);
                else if(category) location.href = `/?category=${category}#portfolio`;
                else if(tag) location.href = `/?tag=${tag}#portfolio`;
                else location.href = `/#portfolio`
            },

            likeCount(postId){
                console.log("likeCount()...", postId);
                //like는 이미 post 안에 있다.
                //처음에 like는 0으로 받아들여옴. 
                //하트가 눌린 경우 like를 1 올려줘야한다.
                // 그 후에 그 1로 변경한 like의 값을 모델에서 다시 받아주어야 해서 api 요청하고, res 받아서 post.like 표시해줌
                axios.get(`/api/like/${postId}`)
                .then(res =>{
                    console.log("LIKE-COUNT GET RES", res)
                    this.post.like = res.data; 
                })
                .catch(err => {
                    console.error("Error Like-Count", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                })
            },
            submitForm(){
                console.log("submitForm()..");
                let formdata = new FormData(document.getElementById('comment-form'));
                formdata.set(`post`, this.post.id)
                axios.post(`/api/comment/create/`,formdata)
                    .then(res=>{
                        console.log("CREATE-COMMENT-POST-RES",res);
                        this.commentList.push(res.data);
                    })
                    .catch(err => {
                        console.log("CREATE-COMMENT-GET-ERR.RESPONSE", err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            }

        },

    };
    Vue.createApp(PostDetailApp).mount('#page-top')
</script>